# env для запуска контейнеров локально в dev среде
CORS_ALLOWED_ORIGINS="http://localhost"
FRONTEND_URL=http://localhost:5173
COOKIE_SECRET=
JWT_SECRET=
SIGNATURE_SECRET=
DATABASE_FILENAME="file:/app/data/sqlite.db"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

WEB_API_URL="http://localhost:7000/api"
WEB_SIGNATURE_SECRET=${SIGNATURE_SECRET}
