@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 99%;
    --foreground: 246 50% 4%;
    --card: 240 60% 99%;
    --card-foreground: 246 50% 4%;
    --popover: 240 60% 99%;
    --popover-foreground: 246 50% 4%;
    --primary: 278 51% 56%;
    --primary-foreground: 246 50% 4%;
    --secondary: 308 51% 85%;
    --secondary-foreground: 246 50% 4%;
    --muted: 240 61% 20%;
    --muted-foreground: 246 50% 70%;
    --accent: 308 51% 45%;
    --accent-foreground: 240 60% 99%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 246 50% 4%;
    --border: 240 61% 20%;
    --input: 240 61% 20%;
    --ring: 308 51% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 60% 1%;
    --foreground: 246 50% 96%;
    --card: 240 60% 1%;
    --card-foreground: 246 50% 96%;
    --popover: 240 60% 1%;
    --popover-foreground: 246 50% 96%;
    --primary: 278 51% 44%;
    --primary-foreground: 246 50% 96%;
    --secondary: 308 51% 15%;
    --secondary-foreground: 246 50% 96%;
    --muted: 240 61% 80%;
    --muted-foreground: 246 50% 96%;
    --accent: 308 51% 55%;
    --accent-foreground: 240 60% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 245 49% 10%;
    --border: 240 60% 60%;
    --input: 240 61% 80%;
    --ring: 308 51% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .inset-x-center {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }
  .inset-y-center {
    @apply absolute top-1/2 transform -translate-y-1/2;
  }
  .inset-center {
    @apply inset-x-center inset-y-center;
  }
}
